# 1. 빌드 결과물 (가장 중요)
build/
out/
bin/

# 2. Querydsl / Generated 소스
src/main/generated/
/build/generated/

# 3. IDE 관련
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# 4. Gradle 및 기타
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

# 5. 설정 파일 (보안)
src/main/resources/application.yaml